.comp-8 {
    box-shadow: 0 2px 20px 0 #ccd2d8;
}
.icon-Manufacturing { 
    mask: url('../../images/manufacturing.svg') no-repeat center / contain;
    -webkit-mask: url('../../images/manufacturing.svg') no-repeat center / contain;
}
.icon-Distribution { 
    mask: url('../../images/Distribution.svg') no-repeat center / contain;
    -webkit-mask: url('../../images/Distribution.svg') no-repeat center / contain;
}
.icon-Electricpanel { 
    mask: url('../../images/electricpanel.svg') no-repeat center / contain;
    -webkit-mask: url('../../images/electricpanel.svg') no-repeat center / contain;
}
.icon {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F72960;
}
.comp-8{
    background-color: #fff;
}
h2{
    padding-bottom: 10px!important;
}
.info-wrapper{
    padding:5px!important;
}
.service-small{
    display:none;
}
@media screen and (max-width: 1150px){
    .d-flex{
        flex-direction: column;
    }
    .comp-8{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .service-small{
        display:block;
    }
    .service-large{
        display:none;
    }
}
.f{
    padding-top: 10px;
    padding-bottom: 10px;
}

