
  .App{
    overflow: hidden;
  }
   /* change the size of the bullet and active color */

   .swiper-container-horizontal > .swiper-pagination > .swiper-pagination-bullet {
    opacity: 0.4;
    background: #FFF!important;
  }
  .swiper-container-horizontal > .swiper-pagination > .swiper-pagination-bullet-active {
    background: rgb(38, 109, 216)!important;
    opacity: 1;
  }
  