.Member{
    border-radius: 5px;
    display: flex;
    background-color: white;
    padding: 12px;
    margin-bottom: 30px;
}
.Member img{
    width: 40%;
}
h2{
    padding-bottom: 1rem;
}
.Member div{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    word-wrap: break-word;
}
h3{
    margin-bottom: 20px!important;
}
#team{
    margin-top: 10px;
}