/*reset css*/
#Subsidiaries {margin: 0;padding: 0;text-decoration: none;list-style: none;box-sizing:border-box;}
p{margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
#Subsidiaries , img {margin: 0; padding: 0; }
img {font: inherit; vertical-align: baseline; border: 0; }
section {display: block; } 
#Subsidiaries {line-height: 0.75; } 
#Subsidiaries {-webkit-box-sizing: border-box; box-sizing: border-box; }
#Subsidiaries{margin-top:-100px;padding-top:40px;}
p{word-wrap: break-word; } 


@font-face {font-family: "Gotham Book"; src: url(../fonts/gotham_light.woff) format("woff"); font-weight: 300; font-style: normal; font-display: fallback; }
@font-face {font-family: "Gotham Book"; src: url(../fonts/gotham_book.woff) format("woff"); font-weight: 400; font-style: normal; font-display: fallback; }
@font-face {font-family: "Gotham Book"; src: url(../fonts/gotham_medium.woff) format("woff"); font-weight: 500; font-style: normal; font-display: fallback; }
@font-face {font-family: "Gotham Book"; src: url(../fonts/gotham-bold.woff) format("woff"); font-weight: 700; font-style: normal; font-display: fallback; }
#Subsidiaries {font-family: 'Gotham Book',-apple-system, BlinkMacSystemFont, Segoe UI, segoe ui, SegoeUI, Segoe, Helvetica, Arial, sans-serif; color: #000000; background: #fff; position: relative; -webkit-backface-visibility: hidden !important; backface-visibility: hidden !important; -webkit-overflow-scrolling: touch; font-size:62.5%;-webkit-text-size-adjust:100%; font-weight: 400; -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;font-size: 10px;}
.good-company .share-container {background: #f6f6f6; padding: 3.1rem 2.5rem 5.6rem; overflow: auto; }
.good-company .duo-wrapper {max-width: 72rem; margin: 0 auto; } 
.good-company .about-neelam, .good-company .about-tulsi {width: 48%; display: inline-block; } 
.good-company .about-neelam {float: left; padding-right: 1.9rem; border-right: 1px solid #b1b9bc; } 
.good-company .share-title {font-size: 1.6rem; color: #000; line-height: 2.4rem; font-weight: 700; word-break: break-word; } 
.good-company .share-para{font-size: 0.9rem; color: #000; line-height: 1.7rem; margin-bottom: 2rem; } 
.good-company .founder-image, .good-company .about-tulsi {float: right; } 
@media screen and (max-width: 599px) {
    .good-company .founder-image {float: none; margin: 0 auto; width: 100%; max-width: 19.4rem; display: block; }
  }
@media screen and (max-width: 767px) {
    .good-company .about-neelam, .good-company .about-tulsi{width: 100%; display: block; border-right: 0; max-width: 500px; width: 100%; margin: auto; float: none; padding: 0; }
    .good-company .about-neelam{margin-bottom: 3rem;}
  } 
@media screen and (max-width: 900px) {
    .good-company .share-container{padding-left: 2rem;padding-right: 2rem;}
}