img{
  height:350px;
  border-radius: 4px;
  padding-bottom: 40px;
}
.binder{
  overflow: hidden;
}
.caros{
  background-color: #111;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  
}
 /* change the size of the bullet and active color */

 .swiper-pagination-bullet {
  background-color: blue;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

/* change color of next 2 bullets in sequence to white*/

.swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-next-next {
background-color: white;
}

/* change color of previous bullet to white*/

.swiper-pagination-bullet-active-prev {
background-color: white;
}
@media screen and (max-width: 800px) {
  img{
    height:300px;
  }
  .caros{
    background-color: #111;
    width: 180%;
    margin-left: -40%;
  }
}
 
